@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
	--header-bg-color: #161616;
	--footer-bg-color: #161616a8;

	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
}

#app {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.white-img-filter {
	filter: brightness(0) invert(1);
}
